.button {
    background-color: white; 
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 1px solid gray;
  }
  
  .button1:hover {
    background-color: #81ecec;
    color: white;
  }
  