.ui-map {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: -4%;
}
.header-map {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 80px;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: auto;
}
.body-ui-map{
  align-items: stretch;
  display: flex;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 100%;
}
.info-map {
  color: rgba(0, 0, 0, 0.87);
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 2%;
  width: 100%;
  height: auto;
  padding-left: 12%;
  padding-right: 14px;
  text-size-adjust: 100%;
}
.list-category {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.dropdown-setup {
  height:45px;
  padding-bottom: 5px;
  margin-left:0;
  width: 300px;
  margin-left: -15px;
}
.card-infor {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-size-adjust: 100%;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  height: 65px;
  margin-top: 1%;
  cursor: 'pointer'; 
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.item-images {
  background-color: rgb(211, 211, 211);
  box-sizing: border-box;
  color: rgb(99, 99, 99);
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 56px;
  margin-top: 1%;
  margin-left: 2%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 56px;
  -webkit-box-direction: normal;
}
.images-setup {
  height: 56px;
  width: 56px;
}
.name-spot-map {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 0%;
  margin-left: 20%;
  margin-top: -50px;
  border-bottom: 0;
  padding: 0;
}
.address-spot-map {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  cursor: pointer;
  -webkit-box-direction:normal;
  width: 0%;
  padding-left: 20%;
  text-overflow:ellipsis;
}