.show-info{
    display: flex;
    margin-left: 15%;
    text-align: start;
}
.show-info-title h4{
    font-weight: 800;
}
.show-tagname{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
}
.show-tagname h4{
font-weight: 800;
}

.show-tag{
    margin-left: 37%;
}