.slide-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto !important;
}

.card-items {
  position: relative;
  color:#fff;
  width: 240px;
  height: 300px;
  background-size: cover;
  background-position: center;
}


.card-items > .card-content {
  position: absolute;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(20,20,20,0.192115529805672) 0%, rgba(255,255,255,0) 100%);
 
}

.card-content__header {
  text-align: start;
  margin-top: 115% !important;
  font-size: 20px;
  margin-bottom: auto;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-content__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-people,
.detail-budget,
.detail-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  font-size: 1.2rem;
  align-items: center;
}

.detail-people span,
.detail-budget span,
.detail-time span {
  padding-left: .2rem;
}
/*# sourceMappingURL=CardItem.css.map */