.ui-tineraries {
  align-items: stretch;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.959);
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  max-width: 100%;
  text-align: left;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.setup-search {
  width: 17%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.picture-setup {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 500;
  height: 550px;
  line-height: 24px;
  height: 700px;
  min-height: 1px;
  margin-top: -0.5%;
  text-size-adjust: 100%;
  width: 100%;
}
.header-ui-spots {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: fix-content;
  line-height: 20px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: auto;
}
.name-spots {
  color: rgba(0, 0, 0, 0.87);
  font-size: 40px;
  line-height: 20px;
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
  padding-left: 12%;
  padding-right: 14px;
  text-size-adjust: 100%;
}

.address-spots {
  font-size: 14px;
  line-height: 30px;
  padding-left: 11.4%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 3px;
}
.time-duration {
  font-size: 14px;
  height: 40px;
  line-height: 30px;
  padding-left: 2%;
  margin-top: 0%;
  margin-bottom: 1%;
  padding-bottom: 13px;

}
.time-duration-text {
  border-right: rgb(0, 0, 0);
  display: block;
  border-width: 5px;
  font-size: 14px;
  line-height: 20px;
  padding-left:1%;
  padding-right:14px;
  text-size-adjust:100%;
  width:100%;
}

.address-text {
  font-size: 15px;
  line-height: 20px;
  padding-left:1%;
  padding-right:14px;
  text-size-adjust:100%;
  width:100%;
}
.info-spots{
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:inline-block;
  background-color:rgb(255, 255, 255);
  box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  height:300px;
  line-height:20px;
  margin-top: 14px;
  margin-left: 13%;
  padding-bottom: 14px;
  padding-top: 14px;
  text-size-adjust: 100%;
  width: 35%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.info {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 300px;
  justify-content: normal;
  line-height: 20px;
  padding-bottom: 17px;
  text-size-adjust: 100%;
  width: 100%;
}
.header-info-trip {
  margin-left: 2%;
  font-size: 27px;
  height: 12%;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 90%;
}
.conten {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 94%;
  padding:0 2%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 100%;
  text-align: justify;
}
.map-spots {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 300px;
  line-height: 20px;
  margin-right: auto;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 14px;
  padding-top: 14px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: top;
  width: 40.4%;
}
.introduce-spots {
  border-bottom-color: rgba(0, 0, 0, 0.87);
  border-bottom-style: none;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0.87);
  border-left-style: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 23px;
  letter-spacing: -0.3px;
  line-height: 23px;
  margin-block-end: 15px;
  margin-block-start: 0px;
  margin-bottom: 15px;
  margin-inline-end: 0px;
  margin-inline-start: 7px;
  margin-left: 7px;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: none;
  width: 600px;
}

.section-picture-setup {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  height: 350px;
  line-height: 20px;
  padding-left: 13%;
  padding-top: 0.5%;
  position: relative;
  text-size-adjust: 100%;
  width: 88.3%;
}
.header-picture-setup {
  align-items: center;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  padding-left: 7px;
  margin-bottom: 3px;
  height: 36px;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 50%;
}
.body-picture-setup {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  padding-left: 29px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-right: 28px;
  height: 300px;
  width: 100.9%;
}
.image-setup {
  padding-top: 2%;
  padding-bottom: 1%;
  height: 270px;
  width: 99%;
}

.section-comment {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  height: 860px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-left: 13%;
  margin-right: 7%;
  padding-top: 10px;
  position: relative;
  text-size-adjust: 100%;
  width: 88.7%;
}
.header-section-comment {
  align-items: center;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  padding-left: 7px;
  margin-bottom: 3px;
  height: 36px;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 50%;
}
.body-section-comment {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 100.3%;
}
.rating-overview {
  background-color: rgb(255, 255, 255);
  background-size: auto;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 100%;
}
.number-rating {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 48px;
  left: 35%;
  line-height: 20px;
  margin-top: 80px;
  position: absolute;
  text-size-adjust: 100%;
  top: 95px;
  transform: matrix(1, 0, 0, 1, -24.5, -24);
  width: 100%;
}
.number {
  box-sizing: border-box;
  color: rgb(33, 133, 208);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  height: 30px;
  line-height: 20px;
  margin-bottom: 0.1%;
  margin-top: -1%;
  margin-right: 10%;
  margin-left: -8%;
  text-align: center;
  text-size-adjust: 100%;
  width: 5%;
}
.number-people {
  box-sizing: border-box;
  color: rgb(128, 128, 128);

  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 19px;
  line-height: 20px;
  margin-left: -6.7%;
  text-align: center;
  text-size-adjust: 100%;
  width: 48px;
}
.percent-rating {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 230px;
  margin-left: 400px;
  line-height: 20px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  position: relative;
  text-size-adjust: 100%;
  width: 80%;
}
.row-rating {
  align-items: stretch;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 25px;
  justify-content: normal;
  line-height: 30px;
  margin-bottom: -10px;
  position: relative;
  text-size-adjust: 100%;
}
.felling-rating {
  box-sizing: border-box;
  color: rgb(105, 104, 104);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
  height: 100%;
  line-height: 20px;
  margin-right: 1%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
  text-size-adjust: 100%;
  width: 15%;
}
.row-percent {
  width: 70%;
  height: 100%;
}
.comment-show {
  background-color: rgb(255, 255, 255);
  height: 600px;
  font-size: 14px;
  max-width: 100%;
  text-size-adjust: 100%;
  width: 100%;
}
.comment {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100px;
  line-height: 16.8px;
  margin-top: 10px;
  min-height: 55px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-size-adjust: 100%;
  width: 100%;
}
.avatar-user-comment {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: inline;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 75px;
  line-height: 21px;
  margin-bottom: 14px;
  max-width: 100%;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 75px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.content-comment {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 80px;
  line-height: 16px;
  margin-top: -8%;
  margin-left: 7%;
  text-size-adjust: 100%;
  width: 1000px;
}
.name-user-comment {
  box-sizing: border-box;
  color: rgb(65, 131, 196);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 500;
  line-height: 16.8px;
  text-size-adjust: 100%;
}
.time-comment {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  margin-left: 6px;
  text-size-adjust: 100%;
  width: 90%;
}
.your-comment {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 180px;
  line-height: 16.8px;
  margin-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-size-adjust: 100%;
  width: 100%;
}
.content-your-comment {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 175px;
  line-height: 16px;
  margin-left: 7%;
  margin-top: -9%;
  text-size-adjust: 100%;
  width: 90%;
}
.rate-this-place {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding-top: 30px;
  padding-left: 10px;
  font-weight: 500;
  line-height: 16px;
  text-size-adjust: 100%;
}
.rating-this-place {
  margin-top: 10px;
  margin-left: 10px;
}
.comment-this-place {
  margin-top: 10px;
  padding-left: 1%;
  width: 90%;
  height: 120px;
}
.height-comment-this-place {
  width: 80%;
  height: 100%;
}

.user-rating {
  margin-left: 10px;
  margin-top: 3px;
}
.text-comment {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 7px;
  margin-left: 1.3%;
  margin-top: 3.5px;
  text-size-adjust: 100%;
  width: 90%;
}
.btn-update {
  margin-top: 7px;
  margin-left: 1%;
}
.ui-others-near-place {
  background-color: rgba(245, 245, 245, 0.959);
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10%;
  padding-top: 2%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 1%;
  text-size-adjust: 100%;
  width: 90%;
}
.header-near-place {
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.959);
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  height: 30px;
  line-height: 30px;
  margin-top: 10%;
  margin-block-end: 8px;
  margin-block-start: 0px;
  margin-bottom: 8px;
  padding-left: 7px;
  padding-right: 14px;
  text-size-adjust: 100%;
  width: 95%;
}
.body-near-place {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 27px;
  margin-bottom: 1%;
  text-size-adjust: 100%;
  width: 84.3%;
}
.location-near {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  text-size-adjust: 100%;
  width: 100%;
}
.header-location-near {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-size: 24px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  height: 30px;
  line-height: 20px;
  text-size-adjust: 100%;
}
.all-location-near {
  box-sizing: border-box;
  color: rgba(2, 118, 212, 0.87);
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-left: auto;
  line-height: 20px;
  text-align: right;
  text-size-adjust: 100%;
  transition: transform .2s;
  width: 10%;
}
.all-location-near:hover{
  transform: scale(1.1);
}
.icon-all-location-near {
  box-sizing: border-box;
  font-size: 14px;
  height: 19px;
  margin-left: auto;
  line-height: 20px;
  text-size-adjust: 100%;
  transition: transform .2s;
  width: 60px;
}

.body-location-near {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  line-height: 19px;
  margin-right: -14px;
  margin-bottom: 3.5%;
  height: 250px;
}
.a-setup {
  padding-top: -5%;
  margin-top: -2%;
  margin-left: -1%;
  text-decoration: none;
  border-bottom: 0px;
}
.card-item {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-size-adjust: 100%;
  vertical-align: top;
  white-space: nowrap;
  width: 25%;
  padding-right: 3%;
  margin-top: 1%;
}
.img-card-item{
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  height:200px;
  line-height:209px;
  text-size-adjust:100%;
  transition: transform .2s;
  padding-top: -2%;
  width:110%;
}
.img-card-item:hover{
  transform: scale(1.1);
}
.info-card-item{
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:16px;
  padding-bottom:14px;
  padding-top:5px;
  padding-left: 5.5%;
  text-size-adjust: 100%;
  width: 90%;
  z-index: 2;
}
.name-card-item {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 19px;
  letter-spacing: -0.3px;
  line-height: 18px;
  margin-bottom: 2.8px;
  text-size-adjust: 100%;
  width: 90%;
}
.address-card-item {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  max-width: 100%;
  min-height: 16px;
  opacity: 0.7;
  text-size-adjust: 100%;
  width: 90%;
}
