.plan-view-header-wrapper {
  align-items: stretch;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.959);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-size-adjust: 100%;
}
.plan-view-header {
  align-items: stretch;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  height: 130px;
  width: 120%;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Fira Sans", sans-serif;
  line-height: 20px;
  padding-left: 13%;
  margin-left: auto;
  border-left: auto;
  position: relative;
  text-size-adjust: 100%;
}
.large-header {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 60px;
  letter-spacing: -0.3px;
  line-height: 30px;
  margin-top: -4px;
  margin-left: auto;
  margin-right: auto;
  text-transform: none;
  width: 100%;
}
.content {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 200;
  height: 46px;
  letter-spacing: -0.3px;
  line-height: 40px;
  padding-top: 25px;
  margin-right: auto;
  margin-bottom: 15px;
  width: 70%;
}
.sub-header {
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 16px;
  letter-spacing: -0.5px;
  line-height: 17px;
  margin-left: 0.3%;
  margin-top: 3px;
  margin-right: auto;
  text-size-adjust: 100%;
  text-transform: none;
  width: 50%;
  text-align: left;
  text-size-adjust: 100%;
  -webkit-box-direction: normal;
}
.text-sub-header {
  font-size: 15px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  padding-top: 3px;
  padding-right: 14px;
  text-size-adjust: 100%;
}
.text-money {
  font-size: 14.5px;
  height: 20px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 3px;
  margin-top: 3px;
  padding-right: 14px;
  text-size-adjust: 100%;
}
.money {
  font-size: 14.5px;
  height: 20px;
  font-weight: 500;
  text-size-adjust: 100%;
}
.bt-setup {
  margin-left: 66.5%;
  padding-top: -30px;
  margin-top: -10px;
  width: 90%;
}

.ui-itineraries {
  align-items: stretch;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0px 0px 14px 0px;
  text-size-adjust: 100%;
  width: 80%;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
}
.plan-overview {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-size-adjust: 100%;
  margin-left: 3%;
  overflow-x: scroll;
  overflow-y: scroll;
  z-index: 1;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.stage-outer {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 300px;
  line-height: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  text-size-adjust: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 2500px;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.day-overview-active {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 300px;
  line-height: 20px;
  min-height: 1px;
  position: relative;
  text-size-adjust: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  user-select: none;
  width: 32%;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.day-overview {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  min-width: 350px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-top: 16px;
  text-size-adjust: 100%;
  user-select: none;
  width: 150%;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.day-overview-header {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 18px;
  margin-top: 4%;
  text-size-adjust: 100%;
  user-select: none;
  width: 250px;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.item-day {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-wrap: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 41px;
  text-size-adjust: 100%;
  user-select: none;
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.time {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 41px;
  margin-top: -16px;
  min-width: 68px;
  padding-right: 24px;
  margin-right: -1%;
  text-size-adjust: 100%;
  user-select: none;
  width: 68px;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dot {
  background-color: rgb(0, 132, 255);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 9px;
  line-height: 40px;
  margin-left: -4%;
  text-size-adjust: 100%;
  user-select: none;
  width: 11px;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.timeline {
  border-right-color: rgb(60, 14 4, 208);
  border-right-style: solid;
  border-right-width: 1.5px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  height: 30px;
  line-height: 40px;
  text-size-adjust: 100%;
  user-select: none;
  width: 1px;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.name-location {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 41px;
  line-height: 41px;
  margin-top: -16px;
  padding-left: 14px;
  text-size-adjust: 100%;
  user-select: none;
  width: 130%;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.day-view-wrapper {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 14px;
  margin-left: 3%;
  padding-top: 14px;
  position: relative;
  text-size-adjust: 100%;
  vertical-align: top;
  width: 45%;
  -webkit-box-direction: normal;
}
.map-trip-view {
  display: inline-block;
  padding-bottom: 14px;
  margin-left: 1%;
  padding-right: 14px;
  padding-top: 14px;
  position: relative;
  text-size-adjust: 100%;
  vertical-align: top;
  width: 51%;
}
.plan-view-header-ui {
  border-bottom-color: rgba(0, 0, 0, 0.87);
  border-bottom-style: none;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0.87);
  border-left-style: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 23px;
  letter-spacing: -0.3px;
  line-height: 23px;
  margin-block-end: 15px;
  margin-bottom: 15px;
  margin-inline-start: 7px;
  margin-left: 7px;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: none;
  width: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.day-view {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 87%;
  -webkit-box-direction: normal;
}
.day-view-side {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  width: 14%;
  text-size-adjust: 100%;
  -webkit-box-direction: normal;
}
.day {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(56, 151, 241);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 2;
  border-left-color: rgb(56, 151, 241);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(56, 151, 241);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(56, 151, 241);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  box-sizing: border-box;
  transition: transform 0.2s;
  color: rgb(33, 33, 33);
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 70px;
  margin-bottom: 10px;
  text-align: center;
  text-size-adjust: 100%;
  width: 120%;
}
.day:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 1px;
  background-color: rgb(121, 190, 255);
  border-bottom-color: rgb(56, 151, 241);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 2;
  border-left-color: rgb(56, 151, 241);
  border-left-style: solid;
  border-left-width: 3px;
  border-right-color: rgb(56, 151, 241);
  border-right-style: solid;
  border-right-width: 3px;
  border-top-color: rgb(56, 151, 241);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  transition: transform 0.2s;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 70px;
  margin-bottom: 10px;
  text-size-adjust: 100%;
}
.day-active {
  background-color: rgb(121, 190, 255);
  border-bottom-color: rgb(56, 151, 241);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 2;
  border-left-color: rgb(56, 151, 241);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(56, 151, 241);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(56, 151, 241);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  box-sizing: border-box;
  transition: transform 0.2s;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 70px;
  margin-bottom: 10px;
  text-align: center;
  text-size-adjust: 100%;
  width: 120%;
}
.days-view {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  padding-top: 2%;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-box-direction: normal;
}
.header-dayview {
  align-items: center;
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  justify-content: space-between;
  margin-left: 2%;
  line-height: 20px;
  margin-bottom: 9px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: 97%;
  -webkit-box-direction: normal;
}
.infor-header {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin-right: 2%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 90%;
  -webkit-box-direction: normal;
}
.title-header {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
  line-height: 34.5px;
  text-size-adjust: 100%;
  width: 70%;
  -webkit-box-direction: normal;
}

.item-dayview {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 820px;
  margin-left: 2%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 97%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-direction: normal;
}
.item-header-dayview {
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 56px;
  margin-right: 2%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-box-direction: normal;
}
.moving-infor {
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 56px;
  justify-content: center;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 54px;
  -webkit-box-direction: normal;
}
.start-time {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 19px;
  line-height: 20px;
  margin-right: 2%;
  margin-bottom: 7px;
  text-size-adjust: 100%;
  width: 35px;
  -webkit-box-direction: normal;
}
.item.img {
  background-color: rgb(211, 211, 211);
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 56px;
  margin-right: 2%;
  line-height: 20px;
  text-size-adjust: 100%;
  width: 56px;
  -webkit-box-direction: normal;
}
.img-setup {
  height: 56px;
  width: 56px;
}
.item-infor {
  align-items: center;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  height: 56px;
  justify-content: space-between;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: 380px;
  cursor: pointer;
  -webkit-box-direction: normal;
}
.item-bodys {
  border-left-color: rgb(117, 117, 117);
  border-left-style: dotted;
  border-left-width: 1.5px;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
  position: relative;
  text-size-adjust: 100%;
  width: 95%;
  -webkit-box-direction: normal;
}
.moving-distance {
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 35px;
  margin-left: -10px;
  margin-top: 35px;
  max-height: 40px;
  position: absolute;
  text-align: left;
  text-size-adjust: 100%;
  -webkit-box-direction: normal;
  top: -138%;
}
/* .item-dayview > .item-bodys:nth-child(1){
  display: none;
} */
.item-body {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin-left: 22px;
  padding-bottom: 16px;
  padding-top: 13px;
  text-size-adjust: 100%;
  width: 95%;
  -webkit-box-direction: normal;
}
.address-item {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-left: 4%;
  height: 22px;
  line-height: 20px;
  margin-bottom: 5px;
  text-size-adjust: 100%;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-direction: normal;
}
.member-rating {
  box-sizing: border-box;
  color: rgb(44, 44, 44);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  margin-left: 3%;
  line-height: 20px;
  text-size-adjust: 100%;
  -webkit-box-direction: normal;
}
.stayfor {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  margin-left: 4%;
  line-height: 20px;
  margin-bottom: 5px;
  text-size-adjust: 100%;
  width: 90%;
  -webkit-box-direction: normal;
}
.cost {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  margin-left: 4%;
  line-height: 20px;
  margin-bottom: 5px;
  text-size-adjust: 100%;
  width: 90%;
  -webkit-box-direction: normal;
}

.final-line {
  border-bottom-color: rgb(117, 117, 117);
  border-bottom-style: dotted;
  border-bottom-width: 1.5px;
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 2px;
  line-height: 20px;
  margin-left: 28px;
  text-size-adjust: 100%;
  width: 92%;
  -webkit-box-direction: normal;
}
.map-trip-view-header {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 23px;
  letter-spacing: -0.3px;
  line-height: 23px;
  margin-block-end: 15px;
  margin-bottom: 15px;
  margin-inline-start: 7px;
  margin-left: 7px;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.map {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  position: relative;
  text-size-adjust: 100%;
  text-transform: none;
  width: 100%;
  -webkit-box-direction: normal;
}
.map-setup {
  box-sizing: border-box;
  color: rgb(33, 33, 33);
  display: block;
  font-size: 11px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  text-size-adjust: 100%;
  touch-action: pan-x pan-y;
  width: 100%;
  z-index: 3;
  -webkit-box-direction: normal;
}
