.day-detail .day-col {
  display: block;
}

.day-timeline .card-spot {
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: black;
          box-shadow: black;
  padding: 3rem 0;
}

.day-timeline .card-spot .item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
}

.day-timeline .card-spot .item-top-image {
  width: 4rem;
}

.day-timeline .card-spot .item-top-header {
  margin-right: 1rem;
}

.day-timeline .card-spot .item-top-header .header-title {
  display: block;
  font-size: 1.5rem;
}

.day-timeline .card-spot::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 5rem;
  width: 0.5px;
  height: 2.5rem;
  background: black;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.day-timeline .card-spot:nth-child(1)::before {
  content: none;
}

.day-timeline .card-spot:after {
  content: "";
  position: absolute;
  left: 5rem;
  width: 0.5px;
  height: 2.5rem;
  background: black;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.day-timeline .card-spot:last-child::after {
  content: none;
}

.day-timeline .icon {
  position: absolute;
  left: 4.7rem;
  top: 94%;
}

.day-timeline .icon:last-child {
  display: none;
}

.day-timeline .icon::before {
  content: "\f1b9";
  font-family: "Font Awesome\ 5 Free";
  font-size: 12px;
  font-weight: 700;
}
/*# sourceMappingURL=EditTrip.css.map */