.imgPreview {
  text-align: center;
  height: 100px;
  width: 150px;
  display: flex; 
}
.imgPreview img {
  width: 100%;
  height: 100%;
  margin-right: 4%;
}
.submitButton {
  padding: 4px;
  background: white;
  border: 1px solid lightgray;
  font-weight: 700;
  font-size: 10pt;
  transition-duration: 0.4s;
  margin-top: 2%;
}
.submitButton:hover {
  background-color: #81ecec;
  color: white;
}
.submitInput {
  padding: 4px;
  background: white;
  border: 1px solid lightgray;
  font-weight: 700;
  font-size: 10pt;
}
.custom-input {
  background-image: url(https://image.flaticon.com/icons/svg/748/748113.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  margin-right: 2%;

}
.custom-input-hidden {
  display:none;
}
.custom-input input {
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}