.image_picker {
  width: 100%; 

  .responsive {
    position: relative;
    margin: 0 6px;
    float: left;
    opacity: 1;

    .thumbnail {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 150px; /* Set a small width */
      opacity: 1;
      margin: 0;

      &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
      }
    }

    .selected {
      background-color: rgba(0, 140, 186, 1);
    }
    
    &:hover {
      cursor: pointer;
    }

    .checked {
      display: none;
    }
  }

  .selected {
    opacity: 0.7;

    .checked {
      display: inline-block;
      transition: .5s ease;
      position: absolute;
      bottom: 0;
      right: 0;

      .icon {
        background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png");
        background-size: cover;
        height: 60px;
        width: 60px;
      }
    }
  }

  .clear {
    clear: both;
  }
}