.content-add {
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  background-color:rgb(255, 255, 255);
  height: 100%;
}
.form-add {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
  text-align: start;
}
.header-add {
  padding-top: 20px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.button-add {
    background-color: white; 
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 2%;
    width: max-content;
    margin-left: 43%;
  }
  .button1-add {
    background-color: white; 
    color: black; 
    border: 1px solid gray;
  }
  
  .button1-add:hover {
    background-color: #81ecec;
    color: white;
  }
  .form-controls{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;

}

form button.small {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
}

form button.small:hover {
  background-color: #999;
}

.add-image {
  display: flex;
  direction: row;
  align-items: center;
}

.shareholder button {
  margin: 0;
  margin-left: 10px;
}
 .required ::after{
   color: red;
   content: " *";
 }