*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .banner{
    width: 100%;
    height: 89vh;
    background: #000;
    position: relative;
    overflow: hidden;
  }
  .banner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
  }
  @keyframes anim {
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }
  .page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .page-content h1{
    color: #81ecec;
    font-size: 100px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    font-style: italic;
  }
  .page-content p{
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 20;
  }

  .page-content a{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #81ecec;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
    cursor: pointer   ;
 
  }
  .page-content a:hover{
    color: #fff;
    background: #81ecec;
    text-decoration: none;
  }
  .text{
    padding: 10px;
    text-align: justify;
  }
  .text div{
    margin-bottom: 6px;
  }
 .page-content a:not([href])  {
    color: #81ecec;
    text-decoration: none;
}
.page-content a:not([href]):hover  {
  color: #fff;
  background: #81ecec;
  text-decoration: none;
}