.login-wrapper {
  width: 100%;
  height: 100%;

  .login-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    background-image: url("./img.jpg");
    background-size: cover;
    background-position: center;
  }

  .login-form {
    position: relative;
    z-index: 13;

    .login-form--img_wrapper {
      position: absolute;
      z-index: 14;
      background-color: black;
      opacity: 0.3;
      width: 100%;
      height: 100%;
    }

    .login-app_title {
      z-index: 15;
      color: #81ecec;
      font-size: 100px;
      font-weight: 300;
      margin-bottom: 20px;
      font-family: "Patrick Hand", cursive;
      font-style: italic;
    }

    .login-content {
      z-index: 15;
    }
  }
}
